@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Clash Manager!</h1>
    <p>Clash Manager is a web application for managing clash of clans accounts and clans to help optimize your gaming experience. Get started by adding an account or clan below.</p>

    <button class="btn btn-default">
        <img src="/assets/addaccount_shadow.png" />
    </button>
    <button class="btn btn-default">
        <img src="/assets/addclan_shadow.png" />
    </button>
</div>
